﻿@model Web.Models.Medicine

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Medicine</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WeightPerDose" class="control-label"></label>
                <input asp-for="WeightPerDose" class="form-control" />
                <span asp-validation-for="WeightPerDose" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DoseAmount" class="control-label"></label>
                <input asp-for="DoseAmount" class="form-control" />
                <span asp-validation-for="DoseAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Composition" class="control-label"></label>
                <input asp-for="Composition" class="form-control" />
                <span asp-validation-for="Composition" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Effect" class="control-label"></label>
                <input asp-for="Effect" class="form-control" />
                <span asp-validation-for="Effect" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dosage" class="control-label"></label>
                <input asp-for="Dosage" class="form-control" />
                <span asp-validation-for="Dosage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Indication" class="control-label"></label>
                <input asp-for="Indication" class="form-control" />
                <span asp-validation-for="Indication" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contraindication" class="control-label"></label>
                <input asp-for="Contraindication" class="form-control" />
                <span asp-validation-for="Contraindication" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
