﻿@model Web.Models.Medicine

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Medicine</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.WeightPerDose)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.WeightPerDose)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.DoseAmount)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.DoseAmount)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.Composition)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.Composition)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.Effect)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.Effect)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.Dosage)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.Dosage)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.Indication)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.Indication)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.Contraindication)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.Contraindication)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.Price)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
